.Logo
  height 4.5em
  background-repeat no-repeat
  background-position center
  background-size contain
  background-origin content-box
  padding 0.5em
  background-color #555
  background-image url("~res/images/logo.png")





