.NavLink
  padding 1em
  text-decoration none
  text-align center

  &:hover
    background-color rgba(white, 0.05)

  &.__active
    background-color #4E6FD9
    background-image linear-gradient(transparent, rgba(black, 0.1))

