.Checkbox
  margin 0.5em
  display flex
  flex-direction row
  align-items center
  padding 0.5em
  cursor pointer
  user-select none
  border-radius 0.25em

  &:hover
    background-color rgba(white, 0.2)

  .input
    //background-color greenyellow
    margin-left 0.5em
    outline none
    size 1.5em

