.UsersPage
  display flex
  flex-direction column

  .notFoundItems
    align-self center

  .scrollWrapper
    height 0
    flex-grow 1
    overflow auto
    text-align center

    .table
      display inline-table






