.Textarea
  //display flex
  //flex-direction column
  background-color white
  padding 0.5em
  outline none
  resize none
  border 0
  margin 1em 0
  height 5em
  border-radius 0.25em
  font-family inherit
