.DatePicker
  display flex
  flex-direction row
  align-items center
  flex-shrink 0
  margin 0 1em

  & + .DatePicker
    margin-left 0

  .input
    background-color white
    border none
    padding 0.5em
    margin-left 0.5em
    text-align center
    width 10em
