.Panel
  background-color #333
  border-radius 0.5em
  padding 2em
  display inline-flex
  flex-direction column
  text-align center
  margin 1em
  flex-shrink 0
  box-shadow 0 0 1em rgba(black, 0.2)

  .title
    margin 0

