.UserPage
  display flex
  flex-direction row
  justify-content center
  //align-items flex-start
  //align-items center

  .tabs
    flex-grow 1
    margin 1em
    margin-left 0
    //align-self center




