.WithdrawRow
  font-size 0.95em

  .username
    cursor pointer

    &:hover
      background-color #444
      //text-decoration underline

  .idsTd
    white-space nowrap
    font-size 0.8em
    text-align right

    .id
      display flex
      flex-direction row
      align-items center

      .idTitle
        width 5.5em

      .idValue
        font-size 0.5em
        margin-left 0.5em
        padding 0.5em
        cursor pointer
        background-color #555

        &:hover
          background-color #888

