.Row
  border-bottom 1px solid #444

  &:last-child
    border-bottom none

  &:hover
    background-image linear-gradient(rgba(white, 0.05), rgba(white, 0.05))

  td
    text-align left
    padding 0.25em 1em

    &:not(:last-child)
      border-right 1px solid rgba(white, 0.05)

