.DashBoardGameTableRow

  //&.__bad
  //  //background-color rgba(#dc3912, 0.4)
  //
  //  &:hover
  //    background-color #ee3c14

  .ggr

    &.__bad
      background-color rgba(#dc3912, 0.3)

  td
    &:first-child
      background-color rgba(#444, 0.4)
