.UserProfileInfo
  display flex
  flex-direction column
  background-color #292929
  border-radius 0.5em

  .part
    display flex
    flex-direction row
    align-items center

  .panel
    margin 1em
    padding 1em

    & + .panel
      margin-top 0




